@use "../global/index" as *;

footer {
    background-color: $sub_color_02;

    .footer {
        @include contentCenter;
        padding: 2rem 2rem 0;
        display: flex;
        justify-content: space-between;

        .footer_left {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            gap: $text_10px;

            .footer_logo {
                max-width: 230px;
                cursor: pointer;
            }
        }

        .footer_right {
            max-width: 420px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .tel_mail {
                display: flex;
                justify-content: space-between;

                .tel {
                    background-color: $footer_color_02;
                    padding: 9px 16px;
                    border-radius: 10px;
                    cursor: pointer;

                    .tel_logo_number {
                        display: flex;

                        .tel_logo {
                            max-width: 18px;
                            aspect-ratio: 1/1;
                        }

                        // .tel_numbeer{

                        // }
                    }

                    .tel_time {
                        font-size: $text_10px;
                    }
                }

                .mail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 13px;
                    background-color: $footer_color_02;
                    padding: 9px 16px;
                    border-radius: 10px;
                    cursor: pointer;

                    .mail_logo {
                        max-width: 20px;
                        aspect-ratio: 1/1;
                    }

                    // .mail_text{

                    // }
                }
            }

            .snsLogo_contact {
                display: flex;
                gap: 10rem;

                .snsLogo {
                    display: flex;
                    gap: 2rem;

                    .instagram_logo {
                        max-width: 30px;
                        aspect-ratio: 1/1;
                        cursor: pointer;
                    }

                    .facebook_logo {
                        max-width: 30px;
                        aspect-ratio: 1/1;
                        cursor: pointer;
                    }
                }

                .contact_button {
                    background-color: $footer_color_01;
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    padding: 20px 6px;
                    cursor: pointer;

                    .contact_arrow {
                        max-width: 8px;
                        aspect-ratio: 3/1
                    }
                }
            }
        }
    }
}

footer p,
footer div {
    color: $footer_text_color;
}

.copy_right {
    padding: 1.5rem 0;
    font-size: 12px;
    text-align: center;
}